body{
    background: #ffe450;
    font-family: "Segoe UI", serif;
}


body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

#info{
    width: calc(100vw / 5);
    border: 1px solid red;
    font-size: 1rem;
    padding-left: 2%;
    margin-left: 2%;
}