body{
    background: #ffe450;
    font-family: "Segoe UI", serif;
}

span{
    color: seagreen;
    font-weight: bold;
    font-size: 18px;
}

p{
    color: darkgreen;
    width: 220px;
    padding-left: 20px;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 12px;
}